
.EVJ {
    position: absolute;
    top: -60px;
  }
  
  
  .eventos {
  
    width: 871px;
    height: 80px;
    position: absolute;
    top: 3395px;
    left: 285px;
  }
  
  #eventos {
    position: absolute;
    top: 3412px;
    left: 590px;
    color: #001233;
    font-size: 40px;
    letter-spacing: 10px;
  }
  
  
  .logo_alicantardis {
    position: absolute;
    top: 3402px;
    left: 355px;
    width: 75px;
  }