<div class="footer">
    <img src="../../assets/IMG/logo_footer.png" alt="" />
    <a href="https://twitter.com/alicantardis"><img src="../../assets/IMG/LOGO TWITTER.png" alt="" class="twitter" /></a>
    <a href="https://www.facebook.com/alicantardis"><img src="../../assets/IMG/LOGO FACEBOOK.png" alt="" class="facebook" /></a>
    <a href="http://www.instagram.com/alicantardis"><img src="../../assets/IMG/LOGO INSTAGRAM.png" alt="" class="instagram" /></a>
  
  </div>

  <div class="copyright">
    <p>TODOS LOS DERECHOS RESERVADOS WHONIVERSE 2023</p>
  </div>