<app-header></app-header>
<p class="title">Mejores momentos</p>

<img src="../../../assets/IMG/10_doctor(2).png" alt="doctorrrr" class="decimo_doctor">


<img src="../../../assets/IMG/Tardis_screen(3).png" alt="screen" class="screen" />

<iframe class="video" width="397" height="229" src="https://www.youtube.com/embed/ZKeul7kjKO8?si=zcTHHplJ-ijGHino"
    title="YouTube video player" frameborder="0"
    allow="autoplay"></iframe>


  <iframe class="musica" src="https://open.spotify.com/embed/track/5Cvjq3WuwkugAFJNOjWqzm?utm_source=generator&theme=0" width="80%" height="150" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
 