<router-outlet></router-outlet>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INICIO</title>
  </head>
  <body>
    <header>
      <img src="../assets/IMG/logo.png" alt="logo" class="logo" />
      <div>
        <img src="../assets/IMG/vector_login.png" alt="" class="V_login">
        <h3 class="login">Login</h3>
      </div>
    </header>
    <div>
      <img src="../assets/IMG/V_whoniverse.png" alt="" class="V_whoniverse">
      <h1 class="WHONIVERSE">WHONIVERSE</h1>
    </div>
    
  </body>
</html>
