<header>
    <div class="menu">
        <a href="../inicio"><img src="../assets/IMG/logo.png" alt="logo" class="logo" /></a>
        <div>
            <img src="../assets/IMG/vector_login.png" alt="" class="V_login" />
            <a href="../login">
                <h3 class="login">Login</h3>
            </a>
        </div>
    </div>
</header>

<p class="title">Mejores momentos</p>

<img src="../../../assets/IMG/Tardis_screen(3).png" alt="screen" class="screen" />

<iframe class="video" width="397" height="229" src="https://www.youtube.com/embed/TtfG0QLjM_E?si=Zzug4hNUgjN23ONL"
    title="YouTube video player" frameborder="0"
    allow="autoplay"></iframe>

<img src="../../../assets/IMG/12_doctor(2).png" alt="doctor" class="doctor" />

<iframe class="musica"  src="https://open.spotify.com/embed/track/24VGyWjZ5ke9PAWrvdm1DN?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

