// .video {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 140px;
// }

.video {
  width: 900px;
  position: absolute;
  top: 160px;
  left: 290px;
  border-radius: 1000px;
}
.WHONIVERSE {
  color: #fff;
  text-align: center;
  font-family: Vampire Raves;
  font-size: 120px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;

  position: absolute;
  left: 310px;
  top: 325px;
  letter-spacing: 8px;
}

.V_whoniverse {
  position: absolute;
  right: 350px;
  top: 100px;
  width: 800px;
  height: 600px;
}
