
<div>
    <h1 class="pers_emble">Personajes emblemáticos</h1>
  
    <div class="image-container">
      <div class="image" (mouseover)="changeImage('../../assets/IMG/THE DOCTOR.jpg')">
        <div class="the_doctor">
          <h2>EL DOCTOR</h2>
          <p>
            El misterioso viajero del tiempo y el espacio que atraviesa fronteras
            en su máquina del tiempo, la TARDIS.
          </p>
        </div>
      </div>
      <div class="image" (mouseover)="changeImage('../../assets/IMG/companions.png')">
        <div class="companions">
          <h2>LOS COMPANIONS</h2>
          <p>
            Los Companions suelen ser aliados cercanos y amigos del Doctor, y
            juegan un papel fundamental en las aventuras, ayudándole a enfrentar
            desafíos y salvar el universo de amenazas diversas.
          </p>
        </div>
      </div>
      <div class="image" (mouseover)="changeImage('../../assets/IMG/DALEK(2).png')">
        <div class="daleks">
          <h2>LOS DALEKS</h2>
          <p>
            Los terroríficos enemigos del Doctor, decididos a exterminar a
            cualquier ser que no sea como ellos.
          </p>
        </div>
      </div>
    </div>
    <div class="image-display">
      <img id="displayed-image" src="../../assets/IMG/THE DOCTOR.jpg" alt="Imagen" />
    </div>
  </div>
