
.viajes {
    width: 871px;
    height: 80px;
    position: absolute;
    top: 3495px;
    left: 285px;
  }
  
  
  #viajes {
    position: absolute;
    top: 3515px;
    left: 605px;
    color: #001233;
    font-size: 40px;
    letter-spacing: 10px;
  }
  
  .logo_viajes {
    position: absolute;
    top: 3506px;
    left: 355px;
    width: 75px;
  }
  