<app-header></app-header>

<p class="title">Mejores momentos</p>



<img src="../../../assets/IMG/Tardis_screen(3).png" alt="screen" class="screen" />

<iframe class="video" width="397" height="229" src="https://www.youtube.com/embed/rjfZ1Zmq7LQ?si=aV2J-D92vRZrn9DX"
    title="YouTube video player" frameborder="0"
    allow="autoplay"></iframe>



<img src="../../../assets/IMG/11_doctor(2).png" alt="doctor" class="doctor" />

<iframe class="musica" src="https://open.spotify.com/embed/track/2HEGN4wksPIENfHsrB7FC8?utm_source=generator" width="70%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
