

.juegos {
    width: 871px;
    height: 80px;
    position: absolute;
    top: 3595px;
    left: 285px;
  }
  
  
  #juegos {
    position: absolute;
    top: 3610px;
    left: 520px;
    color: #001233;
    font-size: 40px;
    letter-spacing: 5px;
  }
  
  .logo_juegos {
    position: absolute;
    top: 3603px;
    left: 355px;
    width: 75px;
  }
  