<div class="countdown">
    <h1>Cuenta atras para el 60 aniversario</h1>
    <div class="timer">
      <div class="timer-item">
        <span>{{ timeLeft.days }}</span>
        <span> Days</span>
      </div>
      <div class="timer-item">
        <span>{{ timeLeft.hours }}</span>
        <span> Hours</span>
      </div>
      <div class="timer-item">
        <span>{{ timeLeft.minutes }}</span>
        <span> Minutes</span>
      </div>
      <div class="timer-item">
        <span>{{ timeLeft.seconds }}</span>
        <span> Seconds</span>
      </div>
    </div>
  </div>

  