.logo {
    width: 150px;
    height: 130px;
    }

.V_formulario_L {
        position:absolute;
        width: 724px;
        top: 0px;
        right: 350px;
}

.t_registro {
    letter-spacing: 4px;
    position: absolute;
    top: 55px;
    right: 810px;
}

.form-group {
    font-size: 25px;
    position: absolute;
    left: 610px;
    top: 130px;
}

  
.form-control {
 
    border-radius: 1vw;
    background-color: #D9D9D9;
    position: absolute;
    width: 240px;
  }

  #InputName {
    position: absolute;
    right: 1px;
    top: 46px;
  }
  
  #InputEmail {
    position: absolute;
    right: 1px;
    top: 160px;
  
  }
  
  #InputPassword {
    position: absolute;
    right: 1px;
    top: 270px;
  }

  #Input_Repite_Pass {
    position: absolute;
    right: 1px;
    top: 385px;
  }
  
  .btn_enviar {
    position: absolute;
    top: 580px;
    right: 600px;
    border-radius: 1vw;
    background-color: #D9D9D9;
    font-size: 20px;
  }

  .pregunta { 
    letter-spacing: 4px;
    position: absolute;
    top: 630px;
    right: 640px;
    font-size: 12px;
    color: #fff;
  }

  .Inicia_sesion {
    letter-spacing: 4px;
    position: absolute;
    top: 660px;
    right: 570px;
    font-size: 12px;
    color: #fff;
  }
  
  .doctor_10 {
    position: absolute;
    width: 380px;
    top: 183px;
    left: 50px;
  }
  
  .doctor_11 {
    position: absolute;
    width: 380px;
    top: 183px;
    right: 1px;
  }