

<header>
    <div class="menu">
    <a href="../inicio"><img src="../assets/IMG/logo.png" alt="logo" class="logo" /></a>
    <div>
      <img src="../assets/IMG/vector_login.png" alt="" class="V_login" />
      <a href="../login"><h3 class="login">Login</h3></a>
    </div>
    </div>
  </header>




<p class="title">Mejores momentos</p>

<img src="" alt="">


<img src="../../assets/IMG/Tardis_screen.jpg" alt="screen" class="screen">

<iframe class="doctor_1" width="397" height="229" src="https://www.youtube.com/embed/aXBmQz2r2M8?si=6N4XVoHSioKt92oR"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
