

.video {
  width: 900px;
  position: absolute;
  top: 160px;
  left: 290px;
  border-radius: 1000px;
}


.WHONIVERSE {
  color: #fff;
  text-align: center;
  font-family: Vampire Raves;
  font-size: 120px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;

  position: absolute;
  left: 310px;
  top: 325px;
  letter-spacing: 8px;
}

.V_whoniverse {
  position: absolute;
  right: 350px;
  top: 100px;
  width: 800px;
  height: 600px;
}

.bienvenido {
  font-family: Vampire Raves;
  font-size: 50px;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 3px;

  color: #fff;
  position: absolute;
  top: 750px;
  left: 65px;
}

.text {
  font-family: Vampire Raves;
  font-size: 35px;
  font-weight: 400;

  letter-spacing: 0em;
  color: #fff;
  position: absolute;
  top: 850px;
  left: 90px;
}

.V_tardis {
  position: absolute;
  width: 400px;
  top: 800px;
  right: 120px;
}


.EVJ {
  position: absolute;
  top: -60px;
}




.simbolos_gallifrey {
  
  width: 200px;
  position: absolute;
  top: 2800px;
  left: 1300px;
}

.letra_gallifrey {
  width: 200px;
  position: absolute;
  top: 3390px;
  left: 50px;
}

