
<app-vortex-video></app-vortex-video>
<app-header></app-header>

<div>
  <h3 class="bienvenido">¡Bienvenido AL WHONIVERSE!</h3>

  <p class="text">
    Prepárate para viajar en el tiempo y el <br />
    espacio explorando el universo de <br />
    Doctor Who. Descubre episodios <br />
    clásicos, personajes inolvidables y <br />
    extraordinarias aventuras.
  </p>

  <img src="../../assets/IMG/V_tardis.png" alt="" class="V_tardis" />
</div>

<app-historia></app-historia>

<app-el-doctor></app-el-doctor>

<app-personajes-emblematicos></app-personajes-emblematicos>


  <app-tarjeta-eventos></app-tarjeta-eventos>

  <app-tarjetas-viajes></app-tarjetas-viajes>

  <app-tarjetas-jornada-juegos></app-tarjetas-jornada-juegos>



<img src="../../assets/IMG/simbolos_gallifrey.png" alt="" class="simbolos_gallifrey" />

<img src="../../assets/IMG/simbolo_gallifrey.png" alt="simbolo gallifrey" class="letra_gallifrey" />



<app-footer></app-footer>