.menu {
    position: fixed;
    width: 1500px;
    top: 0px;
  }
  
  .logo {
    width: 150px;
    height: 130px;
  }
  
  .login {
    color: #fff;
    font-family: Vampire Raves;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    position: absolute;
    left: 1400px;
    top: 30px;
  }
  
  .V_login {
    position: absolute;
    top: 0px;
    right: 1px;
    height: 140px;
    width: 130px;
  }

 .eventos {
    position: absolute;
    top: 140px;
    left: 600px;
  }

  .EP {
    position: relative;
    right: 406px;
    top: 30px;
    
  }

  .alicantardis_I {
    position: absolute;
    top: 132px;
    right: 300px;
    text-align: center;
   
  }

  #background_1 {
   width: 300px;
   height: 75px;
  }

  #ALC_Tardis_I {
    color: black;
    font-size: 33px;
    position: absolute;
    top: 15px;
    right: 34px;

  }

 
  .alicantardis_II {
    position: absolute;
    top: 132px;
    left: 20px;
    text-align: center;
   
  }

  #background_2 {
    width: 300px;
    height: 75px;
   }

   #ALC_Tardis_II {
    color: black;
    font-size: 33px;
    position: absolute;
    top: 15px;
    right: 25px;

  }



  .alicantardis_III {
    position: absolute;
    top: 232px;
    left: -320px;
  }

  #background_3 {
    width: 300px;
    height: 75px;
  }

  #ALC_Tardis_III {
    color: black;
    font-size: 33px;
    position: absolute;
    top: 15px;
    right: 25px;
  }


  .alicantardis_IV {
    position: absolute;
    top: 232px;
    left: 20px;
  }

  #background_4 {
    width: 300px;
    height: 75px;
  }

  #ALC_Tardis_IV {
    color: black;
    font-size: 33px;
    position: absolute;
    top: 15px;
    right: 15px;
  }


  .PE {
    position: relative;
    right: 406px;
    top: 260px;
    
  }

  .aniversario {
    position: absolute;
    top: 405px;
    left: -320px;
  }

  #background_anivers {
    width: 300px;
    height: 75px;
  }

  #aniversario_60 {
    color: black;
    font-size: 33px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .alicantardis_V {
    position: absolute;
    top: 405px;
    left: 20px;
  }

  #background_5 {
    width: 300px;
    height: 75px;
  }

  #ALC_Tardis_V {
    color: black;
    font-size: 33px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .doctor4 {
    width: 400px;
    position: absolute;
    top: 47px;
    right: 100px;
  }