<header>
  <div class="menu">
    <a href="../inicio"><img src="../assets/IMG/logo.png" alt="logo" class="logo" /></a>
    <div>
      <img src="../assets/IMG/vector_login.png" alt="" class="V_login" />
      <a href="../login">
        <h3 class="login">Login</h3>
      </a>
    </div>
  </div>
</header>

<div class="eventos">
  <h1>EVENTOS</h1>
  <h3 class="EP">Eventos pasados</h3>

  <section class="alicantardis_I">
    <img src="../../assets/IMG/v_eventos.png" alt="" id="background_1">
    <p id="ALC_Tardis_I">alicantardis I</p>
  </section>

  <a href="/alicantardis-II"><section class="alicantardis_II">
    <img src="../../assets/IMG/v_eventos.png" alt="" id="background_2">
    <p id="ALC_Tardis_II">alicantardis II</p>

  </section></a>

  <section class="alicantardis_III">
    <img src="../../assets/IMG/v_eventos.png" alt="" id="background_3">
    <p id="ALC_Tardis_III">alicantardis III</p>
  </section>

  <section class="alicantardis_IV">
    <img src="../../assets/IMG/v_eventos.png" alt="" id="background_4">
    <p id="ALC_Tardis_IV">alicantardis IV</p>
  </section>


  <h3 class="PE">Proximos Eventos</h3>

  <section class="aniversario">
    <img src="../../assets/IMG/v_eventos.png" alt="" id="background_anivers">
    <p id="aniversario_60">60 aniversario</p>
  </section>

  <section class="alicantardis_V">
    <img src="../../assets/IMG/v_eventos.png" alt="" id="background_5">
    <p id="ALC_Tardis_V">alicantardis V</p>
  </section>
</div>

<img src="../../assets/IMG/cuarto doctor.png" alt="" class="doctor4">
