/* You can add global styles to this file, and also import other style files */




body {
    background-color: #001233 !important;
    overflow-x: hidden;
    font-family: Vampire Raves !important;
    color: #fff !important;
}


