<router-outlet></router-outlet>
<header>
  <img src="../assets/IMG/logo.png" alt="logo" class="logo" />
  <div>
    <img src="../assets/IMG/vector_login.png" alt="" class="V_login" />
    <h3 class="login">Login</h3>
  </div>
</header>
<div>
  <img src="../assets/IMG/V_whoniverse.png" alt="" class="V_whoniverse" />
  <h1 class="WHONIVERSE">WHONIVERSE</h1>
</div>

<div>
<h3 class="bienvenido">¡Bienvenido AL WHONIVERSE!</h3>
<p class="text">
  Prepárate para viajar en el tiempo y el <br />
  espacio explorando el universo de <br />
  Doctor Who. Descubre episodios <br />
  clásicos, personajes inolvidables y <br />
  extraordinarias aventuras.
</p>
<img src="../../assets/IMG/V_tardis.png" alt="" class="V_tardis">

</div>

<div>


</div>
