.menu {
  position: fixed;
  width: 1500px;
  top: 0px;
}

.logo {
  width: 150px;
  height: 130px;
}

.login {
  color: #fff;
  font-family: Vampire Raves;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  left: 1400px;
  top: 30px;
}

.V_login {
  position: absolute;
  top: 0px;
  right: 1px;
  height: 140px;
  width: 130px;
}

.WHONIVERSE {
  color: #fff;
  text-align: center;
  font-family: Vampire Raves;
  font-size: 120px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;

  position: absolute;
  left: 310px;
  top: 325px;
  letter-spacing: 8px;
}

.V_whoniverse {
  position: absolute;
  right: 350px;
  top: 100px;
  width: 800px;
  height: 600px;
}

.bienvenido {
  font-family: Vampire Raves;
  font-size: 50px;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 3px;

  color: #fff;
  position: absolute;
  top: 750px;
  left: 65px;
}

.text {
  font-family: Vampire Raves;
  font-size: 35px;
  font-weight: 400;

  letter-spacing: 0em;
  color: #fff;
  position: absolute;
  top: 850px;
  left: 90px;
}

.V_tardis {
  position: absolute;
  width: 400px;
  top: 800px;
  right: 120px;
}

.v_historia {
  position: absolute;
  top: 1320px;
  right: 50px;
  width: 1400px;
}

.img_doctors {
  position: absolute;
  top: 1130px;
  right: 0px;
  width: 100%;
  height: 70%;
}

.historia {
  font-family: Vampire Raves;
  color: #fff;
  position: absolute;
  top: 1470px;
  right: 140px;
  letter-spacing: 2px;
  font-size: 24px;
}

.EL_DOCTOR {
  position: absolute;
  top: 2250px;
  left: 630px;
}

.doctor_1 {
  width: 200px;
  position: absolute;
  top: 2350px;
  left: 100px;
}

.doctor_2 {
  width: 200px;
  position: absolute;
  top: 2350px;
  left: 330px;
}

.doctor_2 {
  width: 200px;
  position: absolute;
  top: 2340px;
  left: 330px;
}

.doctor_3 {
  width: 200px;
  position: absolute;
  top: 2367px;
  left: 540px;
}

.doctor_4 {
  width: 200px;
  position: absolute;
  top: 2360px;
  left: 750px;
}

.doctor_5 {
  width: 180px;
  position: absolute;
  top: 2343px;
  left: 930px;
}

.doctor_6 {
  width: 140px;
  position: absolute;
  top: 2353px;
  left: 1110px;
}

.doctor_7 {
  width: 170px;
  position: absolute;
  top: 2580px;
  left: 150px;
}

.doctor_8 {
  width: 160px;
  position: absolute;
  top: 2565px;
  left: 339px;
}

.doctor_9 {
  width: 180px;
  position: absolute;
  top: 2570px;
  left: 550px;
}

.doctor_10 {
  width: 160px;
  position: absolute;
  top: 2560px;
  left: 780px;
}

.doctor_11 {
  width: 170px;
  position: absolute;
  top: 2560px;
  left: 970px;
}

.doctor_12 {
  width: 150px;
  position: absolute;
  top: 2560px;
  left: 1150px;
}


/* personajes emblematicos */

.pers_emble {
  position: absolute;
  top: 2850px;
  left: 65px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.image-display {
  position: absolute;
  top: 2930px;
  left: 20px;
}

#displayed-image {
  max-width: 300px;
  max-height: 300px;
}

.the_doctor {
  position: absolute;
  top: 2935px;
  left: 275px;
}

.companions {
  position: absolute;
  top: 3040px;
  left: 275px;
  padding-right: 283px;
}

.daleks {
  position: absolute;
  top: 3155px;
  left: 275px;
}




.EVJ {
  position: absolute;
  top: -60px;
}


.eventos {

  width: 871px;
  height: 80px;
  position: absolute;
  top: 3395px;
  left: 285px;
}

#eventos {
  position: absolute;
  top: 3412px;
  left: 590px;
  color: #001233;
  font-size: 40px;
  letter-spacing: 10px;
}


.logo_alicantardis {
  position: absolute;
  top: 3402px;
  left: 355px;
  width: 75px;
}

.viajes {
  width: 871px;
  height: 80px;
  position: absolute;
  top: 3495px;
  left: 285px;
}


#viajes {
  position: absolute;
  top: 3515px;
  left: 605px;
  color: #001233;
  font-size: 40px;
  letter-spacing: 10px;
}

.logo_viajes {
  position: absolute;
  top: 3506px;
  left: 355px;
  width: 75px;
}



.juegos {
  width: 871px;
  height: 80px;
  position: absolute;
  top: 3595px;
  left: 285px;
}


#juegos {
  position: absolute;
  top: 3610px;
  left: 460px;
  color: #001233;
  font-size: 40px;
  letter-spacing: 5px;
}

.logo_juegos {
  position: absolute;
  top: 3603px;
  left: 355px;
  width: 75px;
}


.simbolos_gallifrey {
  
  width: 200px;
  position: absolute;
  top: 2800px;
  left: 1300px;
}

.letra_gallifrey {
  width: 200px;
  position: absolute;
  top: 3390px;
  left: 50px;
}