
.menu {
  position:fixed;
  width: 1500px;
	top: 0px;
}


.logo {
    width: 150px;
    height: 130px;
    
  }
  
  .WHONIVERSE {
    color: #fff;
    text-align: center;
    font-family: Vampire Raves;
    font-size: 100px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
  
    position:absolute;
    left: 380px;
    top: 276px;
    letter-spacing: 7px;
  }
  
  .V_whoniverse {
    position:absolute;
    right: 350px;
    top: 100px;
    width: 800px;
    height: 600px;
  }
  
  
  .login {
    color: #FFF;
    font-family: Vampire Raves;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    position: absolute;
    left: 1400px;
    top: 30px;
  }
  
  .V_login {
    position: absolute;
    top: 0px;
    right: 1px;
    height: 140px;
    width: 130px;
  }



  .bienvenido {
    font-family: Vampire Raves;
    font-size: 50px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 3px;

    color: #fff;
    position:absolute;
    top: 750px;
    left: 65px;

}

.text {
    font-family: Vampire Raves;
    font-size: 35px;
    font-weight: 400;
    
    letter-spacing: 0em;
    color: #fff;
    position: absolute;
    top: 850px;
    left: 90px;
  
}

.V_tardis {
    position: absolute;
    width: 400px;
    top: 800px;
    right: 120px;
}


.v_historia {
  position: absolute;
  top: 1320px;
  right: 50px;
  width: 1400px;
}


.img_doctors {
  position: absolute;
  top: 1130px;
  right: 0px;
  width: 100%;
  height: 70%;
}

.historia {
  position: absolute;
  top: 1440px;
  right: 100px;
  letter-spacing: 2px;
  font-size: 28px;
}