
<header>
  <div class="menu">
  <a href="../inicio"><img src="../assets/IMG/logo.png" alt="logo" class="logo" /></a>
  <div>
    <img src="../assets/IMG/vector_login.png" alt="" class="V_login" />
    <a href="../login"><h3 class="login">Login</h3></a>
  </div>
  </div>
</header>


  
<div>
  <img src="../assets/IMG/V_whoniverse.png" alt="" class="V_whoniverse" />
  <h1 class="WHONIVERSE">WHONIVERSE</h1>
</div>

<div>
<h3 class="bienvenido">¡Bienvenido AL WHONIVERSE!</h3>


<p class="text">
  Prepárate para viajar en el tiempo y el <br />
  espacio explorando el universo de <br />
  Doctor Who. Descubre episodios <br />
  clásicos, personajes inolvidables y <br />
  extraordinarias aventuras.
</p>


<img src="../../assets/IMG/V_tardis.png" alt="" class="V_tardis">

</div>

<div>
<img src="../../assets/IMG/v_historia.png" class="v_historia">
<img src="../../assets/IMG/all doctor.png" alt="" class="img_doctors">
<p class="historia">
    "Doctor Who" es una icónica serie de ciencia ficción británica  
    <br>que sigue las aventuras del Doctor, un misterioso Señor del  
    <br>Tiempo que en el tiempo y el espacio en su nave, la TARDIS, 
    <br>que parece ser una cabina de policía azul en el exterior. 
  <br>
  <br>
    Acompañado por varios Companions humanos y alienígenas, el 
    <br>Doctor lucha contra villanos mortales y misteriosas amenazas
    <br>alienígenas mientras se embarca en emocionantes y a veces
    <br>conmovedoras travesías. 
  <br> 
  <br>
    Gracias a su capacidad regenerativa, el Doctor puede cambiar de
    <br>apariencia física, lo que ha permitido que diferentes actores
    <br>interpreten al personaje a lo largo de las décadas. 
  <br>
  <br>  
    Con una mitología rica, valores humanos y emocionantes aventuras
    <br>intergalácticas, "Doctor Who" ha cautivado a audiencias de todas 
    <br>las edades desde su estreno en 1963.</p>
</div>

<div>
  <h1 class="EL_DOCTOR">EL DOCTOR</h1>
    <a href="../william-hartnell/"><img src="../../assets/IMG/1_doctor.png" alt="1_doctor" class="doctor_1"></a>
    <img src="../../assets/IMG/2_doctor.png" alt="2_doctor" class="doctor_2">
    <img src="../../assets/IMG/3_doctor.png" alt="3_doctor" class="doctor_3">
    <img src="../../assets/IMG/4_doctor.png" alt="4_doctor" class="doctor_4">
    <img src="../../assets/IMG/5_doctor.png" alt="5_doctor" class="doctor_5">
    <img src="../../assets/IMG/6_doctor.png" alt="6_doctor" class="doctor_6">
    <img src="../../assets/IMG/7_doctor.png" alt="7_doctor" class="doctor_7">
    <img src="../../assets/IMG/8_doctor.png" alt="8_doctor" class="doctor_8">
    <img src="../../assets/IMG/9_doctor.png" alt="9_doctor" class="doctor_9">
    <a href="../david-tennant/"><img src="../../assets/IMG/10_doctor.png" alt="10_doctor" class="doctor_10"></a>
    <a href="../matt-smith/"><img src="../../assets/IMG/11_doctor.png" alt="11_doctor" class="doctor_11"></a>
    <a href="../peter-capaldi"><img src="../../assets/IMG/12_doctor.png" alt="12_doctor" class="doctor_12"></a>
   <!-- <img src="../../assets/IMG/13_doctor.png" alt="13_doctor" class="doctor_13">
    <img src="../../assets/IMG/14_doctor.png" alt="14_doctor" class="doctor_14">
   -->
</div>

