.logo {
  width: 150px;
  height: 130px;
  }

  .V_formulario_L {
    position:absolute;
    width: 724px;
    top: 0px;
    right: 350px;
    
  }

.t_login  { 
 position: absolute;
 top: 55px;
 right: 900px;
 letter-spacing: 3px;
}


  .form-group {
    font-size: 25px;
    position: absolute;
    left: 610px;
    top: 240px;
    
  }
  
.form-control {
 
  border-radius: 1vw;
  background-color: #D9D9D9;
  position: absolute;
  width: 240px;
}

#InputEmail {
  right: 1px;
  top: 45px;

}

#InputPassword {
  right: 1px;
  top: 155px;
}

.btn_enviar {
  position: absolute;
  top:460px;
  right: 600px;
  border-radius: 1vw;
  background-color: #D9D9D9;
  font-size: 20px;
}

p { 
  letter-spacing: 4px;
  position: absolute;
  top: 520px;
  right: 580px;
  font-size: 12px;
  color: #fff;
}

.doctor_10 {
  position: absolute;
  width: 380px;
  top: 183px;
  left: 50px;
}

.doctor_11 {
  position: absolute;
  width: 380px;
  top: 183px;
  right: 1px;
}