<div>
    <img src="../../assets/IMG/v_historia.png" class="v_historia" />
    <img src="../../assets/IMG/all doctor.png" alt="" class="img_doctors" />
    <p class="historia">
      "Doctor Who" es una icónica serie de ciencia ficción británica
      <br />que sigue las aventuras del Doctor, un misterioso Señor del
      <br />Tiempo que en el tiempo y el espacio en su nave, la TARDIS, <br />que
      parece ser una cabina de policía azul en el exterior.
      <br />
      <br />
      Acompañado por varios Companions humanos y alienígenas, el
      <br />Doctor lucha contra villanos mortales y misteriosas amenazas
      <br />alienígenas mientras se embarca en emocionantes y a veces
      <br />conmovedoras travesías.
      <br />
      <br />
      Gracias a su capacidad regenerativa, el Doctor puede cambiar de
      <br />apariencia física, lo que ha permitido que diferentes actores
      <br />interpreten al personaje a lo largo de las décadas.
      <br />
      <br />
      Con una mitología rica, valores humanos y emocionantes aventuras
      <br />intergalácticas, "Doctor Who" ha cautivado a audiencias de todas
      <br />las edades desde su estreno en 1963.
    </p>
  </div>