.v_historia {
    position: absolute;
    top: 1320px;
    right: 50px;
    width: 1400px;
  }
  
  .img_doctors {
    position: absolute;
    top: 1130px;
    right: 0px;
    width: 100%;
    height: 70%;
  }
  
  .historia {
    font-family: Vampire Raves;
    color: #fff;
    position: absolute;
    top: 1470px;
    right: 140px;
    letter-spacing: 2px;
    font-size: 24px;
  }