<header>
    <div class="menu">
        <a href="../inicio"><img src="../assets/IMG/logo.png" alt="logo" class="logo" /></a>
        <div>
            <img src="../assets/IMG/vector_login.png" alt="" class="V_login" />
            <a href="../login">
                <h3 class="login">Login</h3>
            </a>
        </div>
    </div>
</header>

<img src="../../../assets/IMG/v_eventos.png" alt="" id="background_1">
<h1>ALICANTARDIS II</h1>

<img src="../../../assets/IMG/Rectangle 16.png" alt="" id="background_2">
 <p class="text">Alicantardis II fue un evento de fans de Doctor Who que se celebró en novelda, el 29 de octubre de 2016. El evento
    contó con una variedad de actividades, incluyendo proyecciones de episodios clásicos y nuevos de Doctor Who,
    concursos de cosplay, talleres, y un mercado de artesanía. También hubo una charla con el escritor , Doc Pastor. El
    evento fue un éxito, y atrajo a más de 500 fans de Doctor Who de todo el mundo.</p>
    
<img src="../../../assets/IMG/alicantardis-2/image 1.png" alt="" class="IMG1">    
<img src="../../../assets/IMG/alicantardis-2/image 2.png" alt="" class="IMG2"> 
<img src="../../../assets/IMG/alicantardis-2/image 3.png" alt="" class="IMG3">    
<img src="../../../assets/IMG/alicantardis-2/image 4.png" alt="" class="IMG4">  
<img src="../../../assets/IMG/alicantardis-2/image 5.jpg" alt="" class="IMG5">   

<img src="../../../assets/IMG/doctors.png" alt="" class="doctors">
<img src="../../../assets/IMG/alicantardis-2/ALICANTARDIS II Cartel.jpg" alt="" class="cartel">