<app-header></app-header>


<div>
<img src="../assets/IMG/vector_formulario.png" alt="" class="V_formulario_L" />

<form>
      <h1 class="t_login">LOGIN</h1>
    <div class="form-group">
      <label for="InputEmail">Correo Electronico</label>
      <br>
      <input type="email" class="form-control" id="InputEmail">
    <br>
    <br>
      <label for="InputPassword">Contraseña</label>
      <br>
      <input type="password" class="form-control" id="InputPassword" >
    </div>
    
    <button type="submit" class="btn_enviar">Enviar</button>
  </form>

<a href="../registro/"><p>Aun no eres socio?</p></a>

</div>

<img src="../../assets/IMG/DECIMO VECTOR.png" alt="" class="doctor_10">

<img src="../../assets/IMG/undecimo doctor vector.png" alt="" class="doctor_11">

