.EL_DOCTOR {
    position: absolute;
    top: 2250px;
    left: 630px;
  }
  
  .doctor_1 {
    width: 200px;
    position: absolute;
    top: 2350px;
    left: 100px;
  }
  
  .doctor_2 {
    width: 200px;
    position: absolute;
    top: 2350px;
    left: 330px;
  }
  
  .doctor_2 {
    width: 200px;
    position: absolute;
    top: 2340px;
    left: 330px;
  }
  
  .doctor_3 {
    width: 200px;
    position: absolute;
    top: 2367px;
    left: 540px;
  }
  
  .doctor_4 {
    width: 200px;
    position: absolute;
    top: 2360px;
    left: 750px;
  }
  
  .doctor_5 {
    width: 180px;
    position: absolute;
    top: 2343px;
    left: 930px;
  }
  
  .doctor_6 {
    width: 140px;
    position: absolute;
    top: 2353px;
    left: 1110px;
  }
  
  .doctor_7 {
    width: 170px;
    position: absolute;
    top: 2580px;
    left: 150px;
  }
  
  .doctor_8 {
    width: 160px;
    position: absolute;
    top: 2565px;
    left: 339px;
  }
  
  .doctor_9 {
    width: 180px;
    position: absolute;
    top: 2570px;
    left: 550px;
  }
  
  .doctor_10 {
    width: 160px;
    position: absolute;
    top: 2560px;
    left: 780px;
  }
  
  .doctor_11 {
    width: 170px;
    position: absolute;
    top: 2560px;
    left: 970px;
  }
  
  .doctor_12 {
    width: 150px;
    position: absolute;
    top: 2560px;
    left: 1150px;
  }
  