<div>
    <h1 class="EL_DOCTOR">EL DOCTOR</h1>
    <a href="../william-hartnell/"><img src="../../assets/IMG/1_doctor.png" alt="1_doctor" class="doctor_1" /></a>
    <img src="../../assets/IMG/2_doctor.png" alt="2_doctor" class="doctor_2" />
    <img src="../../assets/IMG/3_doctor.png" alt="3_doctor" class="doctor_3" />
    <img src="../../assets/IMG/4_doctor.png" alt="4_doctor" class="doctor_4" />
    <img src="../../assets/IMG/5_doctor.png" alt="5_doctor" class="doctor_5" />
    <img src="../../assets/IMG/6_doctor.png" alt="6_doctor" class="doctor_6" />
    <img src="../../assets/IMG/7_doctor.png" alt="7_doctor" class="doctor_7" />
    <img src="../../assets/IMG/8_doctor.png" alt="8_doctor" class="doctor_8" />
    <img src="../../assets/IMG/9_doctor.png" alt="9_doctor" class="doctor_9" />
    <a href="../david-tennant/"><img src="../../assets/IMG/10_doctor.png" alt="10_doctor" class="doctor_10" /></a>
    <a href="../matt-smith/"><img src="../../assets/IMG/11_doctor.png" alt="11_doctor" class="doctor_11" /></a>
    <a href="../peter-capaldi"><img src="../../assets/IMG/12_doctor.png" alt="12_doctor" class="doctor_12" /></a>
    <!-- <img src="../../assets/IMG/13_doctor.png" alt="13_doctor" class="doctor_13">
      <img src="../../assets/IMG/14_doctor.png" alt="14_doctor" class="doctor_14">
     -->
  </div>